extends layout

block content
	main.login-container
		.login-card
			h1 JogFile
			if error
				.alert.alert-danger.py-2= error
			form(method="POST" action="/login")
				.mb-4
					label.form-label(for="password") Password
					input.form-control#password(type="password" name="password" autofocus placeholder="Enter password")
				button.btn.btn-primary.w-100(type="submit") Log in
